@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Tiro+Devanagari+Hindi&display=swap');

:root {
  --orange: #F79F1F;
  --text-color-1: #444;
  --text-color-2: #666;
  --bg-color-1: #fff;
  --bg-color-2: #eee;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html {

  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 5rem;
}

body {
  background: var(--bg-color-2);
  overflow: hidden;
}

body.active {
  --text-color-1: #fff;
  --text-color-2: #eee;
  --bg-color-1: #333;
  --bg-color-2: #222;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .4);
}


.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: var(--text-color-1);
  font-size: 4rem;
}

.heading span {
  position: relative;
  z-index: 0;
}

.heading span::before {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  background: var(--orange);
  height: 100%;
  width: 100%;
  clip-path: polygon(0 90%, 100% 83%, 100% 100%, 0% 100%);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  color: #fff;
  background: #ab6806;
  border-radius: .5rem;
  cursor: pointer;
}

.btn:hover {
  letter-spacing: .2rem;
}

/* header section start */
.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color-1);
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: var(--box-shadow);
  z-index: 2000;
}

.logo {
  font-size: 1.5rem;
}

.logo i {
  color: var(--orange);

}

.header .search-form {
  background: var(--bg-color-2);
  border-radius: .5rem;
  display: flex;
  align-items: center;
  height: 3rem;
  padding: .2rem .5rem;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.5rem;
  color: var(--text-color-1);
  padding: 1rem;
}

.header .search-form label {
  font-size: 1.5rem;
  margin-right: 1.5rem;
  color: var(--text-color-1);
  cursor: pointer;
}

.header .search-form label:hover {
  color: var(--orange);
}

.icons #search-btn {
  display: none;
}

.icons {
  display: flex;
  flex-direction: row;

}

.icons div {
  background: var(--bg-color-2);
  padding: .5rem;
  margin: 0.3rem;
  border-radius: .3rem;
  font-size: 1rem;
}

.icons div:hover {
  background: var(--orange);
}

.navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  right: -50%;
  border-radius: .5rem;
  top: 8rem;
  background: var(--bg-color-1);
  width: 18%;
  padding: 1rem 0 1rem 1rem;
  transition: .3s ease;
  box-shadow: var(--box-shadow);
}

.navbar p {
  color: var(--text-color-1);
}

.navbar p:hover {
  padding-left: .5rem;
  color: var(--orange);
}

.active {
  right: 10% !important;
}


/* header  css query  */
@media (max-width: 720px) {
  .icons #search-btn {
    display: flex;
  }

  #search {
    display: none;
  }

  .active {
    display: flex !important;
    width: 100%;
  }

  .header {
    justify-content: space-between;
    align-items: center;
  }

  .header .search-form {
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: var(--box-shadow);
  }

  .navbar {
    width: 50%;

  }
}

/* home section start */
.home-container {
  padding: 2rem 4rem;
  height: 100%;
  width: 100%;
  background: var(--bg-color-1);
}

.home-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-img img {
  width: 100%;
  height: auto;
  animation: 5s upd infinite;
}

@keyframes upd {
  0% {
    transform: translateY(0rem);
    /* padding-bottom: 0rem; */
  }

  50% {
    /* padding-bottom: 5rem; */
    transform: translateY(2rem);
  }


}

.home-text h1 {
  font-family: 'Tiro Devanagari Hindi', serif;
  font-size: 2.5rem;
  padding-top: 3rem;
}

.home-text p {
  font-size: .8rem;
  color: var(--text-color-2);
  padding-right: 10%;
  margin-bottom: 1rem;
}

.home-text div span {
  background: var(--orange);
  color: #fff;
  padding: .3rem .5rem;
}

/* home responsive */
@media (max-width: 720px) {
  .home-container {
    padding: 2rem;

    background: var(--bg-color-1);
  }

  .home-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-img img {
    width: 100%;
    height: auto;
  }

  .home-text p {
    padding-right: 0%;
  }
}

/* book now swction start */
.form-container {
  margin-top: 2rem;
  padding: 1rem;
}

.form-container form {
  background: var(--bg-color-1);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  padding: .7rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form-container form .inputBox {
  display: flex;
  flex-direction: column;
}

.form-container form .inputBox span {
  font-size: 1.7rem;
  color: var(--text-color-2);
}

.form-container form .inputBox input {
  font-size: 1rem;
  color: var(--text-color-1);
  background: var(--bg-color-2);
  border-radius: .5rem;
  margin: .5rem 0;
  width: 15rem;
  padding: .5rem;
}

.form-container form .btn {
  margin: 2.1rem 1rem .4rem 0rem;
  padding: .6rem 2rem;
  border-radius: .5rem;
  background: var(--orange);
  color: var(--text-color-1);
}

/* packages section starts */

.packages h1{
  font-size: 1.5rem;
}


.box-container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin: 1rem; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  box-shadow: var(--box-shadow);
  
}
.box-container .box{
  background: var(--bg-color-1);
  padding: 1.5rem;
  width: 45%;
}
.image{
  position: relative;
}
.image img{
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image h3{
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 30;
  color: #fff;
  background: rgba(0,0,0,.5);
  padding: .5rem;
  border-radius: .5rem;
  color: ligtner;
}
.image h3 i{
  color: var(--orange);
}
.packages .box-container .content .price{
  font-size: 2rem;
  font-weight: bolder;
}
.content .price span{
  font-size: 1rem;
  color: var(--text-color-2);
  text-decoration: line-through;
}
.content p{
  font-size: 1.7rem;
}
@media (max-width:780px) {
  /* .packages .box-container{
    grid-template-columns: repeat(1, 1fr);
  } ;*/
  .box-container .box {
    background: var(--bg-color-1);
    padding: 1.5rem;
    width: 90%;
  }
};
